[access]
	inheritFrom = All-Projects
[project]
	state = active
[access "refs/for/refs/heads/*"]
	pushMerge = group Registered Users
[access "refs/heads/*"]
	push = +force group Registered Users
[accurevConnector]
	uuid = effc258c-c957-401e-8ad0-d49fce3857cb
	accurevAccount = accurev://git@localhost:5050
[accurevBranchmap "refs/heads/master"]
	uuid = 53795d2e-f290-42ed-8c11-0f76d90f86c2
	depotId = 1
	streamId = 3
	mountEid = 1
	initialSync = git
